@keyframes slideDown {
    0% {
        top:-500px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}
.logo {
    animation: slide-FLeft 1.5s forwards;
    position: relative;
}
.menu {
    animation: slide-FRight 1.5s forwards;
    position: relative;
}
@keyframes slide-FLeft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0px;
        opacity: 1;
    }
}
@keyframes slide-FRight {
    from {
        right: -300px;
        opacity: 0;
    }
    to {
        right: 0px;
        opacity: 1;
    }
}