@media (max-width: 768px) {
    article {
        padding: 5px;
    }
    p {
        font-size: large;
    }
    .navbar {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 1000%;
        background-color: #8ABA10; /* Change the background color as needed */
        text-align: left;
        animation: slideDown 0.5s ease forwards;
        padding: 10px;
        padding-left: 20px;
    }

    .navbar.show {
        display: flex;
        flex-direction: column;
    }

    .navbar li {
        padding: 20px 0;
        font-size: 25px;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        z-index: 99999;
        right: 30px;
        top: 30px;
    }
    
}
@media (min-width: 769px) {
    .images-container {
        grid-template-columns: 1fr 1fr;
    }
    .image-container {
        position: relative;
        width: 100%;
        padding-top: 100%; 
        overflow: hidden; 
    }
    .image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }

    .header-img {
        height: 300px;
    }
    .drinks-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

